/* Desktop Navbar */
body[data-route=""] .navbar-default, body[data-route="desktop"] .navbar-default {
	background-color: #f5f7fa;
}

/* Desktop Background */
#page-desktop {
    background-color: #FFF !important;
}

/* Desktop Icons*/
.app-icon {
	box-shadow: none;
}

/* Desktop Text */
.case-label {
    color: #36414c;
    text-shadow: none;
}
